body {
    margin: 0;
    color: white;
    background-color: #121212;
}

.header {
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #313131;
    padding: 10px 30px 3px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid #121212;
}

.header a {
    float: right;
    color: white;
    text-decoration: none;
    margin-right: 40px;
    padding: 10px 20px 10px 20px;
    font-size: 18px;
    line-height: 16px;
    border-radius: 5px;
}

.header a:hover {
    background-color: grey;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 70px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.1s;

}

.sidenav a:hover {
    color: white;
    color: white;
    display: block;
    transition: 0.1s;
}

.sidenav a:hover,
.header a:hover {
    color: #818181;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
@media screen and (max-width: 600px) {
    .header_1 {
        display: none;
    }
    .flexbox {
        flex-direction: column;
        justify-content: center;
    }
    .flexbox_1 {
        background-color: #313131;
        height: 5in;
        padding: 10px;
        margin: 15px;
        width: 500px;
        margin-top: 30px;
    }

}

.footer {
    background-color: #313131;
    margin-bottom: 0px;
    padding: 10px 30px 10px 30px;
}

.watermark ,.links{
    font-family: 'Courier Prime', monospace;
    display: flex;
    justify-content: center;
}

.flexbox {
    display: flex;
    padding: 10px;
    margin-top: 40px;
}

.flexbox_1 {
    background-color: #313131;
    height: 5in;
    padding: 10px;
    margin: 15px;
    width: 30%;
    margin-top: 30px;
}

.flexbox_2 {
    background-color: #313131;
    height: 5in;
    padding: 10px;
    margin: 15px;
    width: 70%;
    margin-top: 30px;
}

.ref{
    width: 40px;
    padding: 0px 20px 0px 20px;
}

